.finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 8rem;
}

.finish .title {
  font-size: 2rem;
}

.finish h2 {
  font-size: 1.5rem;
}

.finish h1,
.finish h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.finish .shake-hands-image-container {
  text-align: center;
}

.finish .button-back {
  margin-top: 2rem;
  text-align: center;
}

.finish a {
  padding: 0.75rem 4rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #ededed;
  text-decoration: none;
  border-radius: 5px;
  background-color: #0ec70e;
}

.finish .pix {
  margin: 3rem auto;
}

.finish .pix-payment-options {
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
}

.finish .pix .qr-code img {
  width: 12rem;
}

.finish .pix .payment-code {
  font-weight: 700;
  font-size: 1.5rem;
}

.finish .pix .code {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 700px) {
  .finish .pix-payment-options {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .finish .qr-code {
    text-align: center;
  }
}
