.layout-components {
  width: 100%;
  margin: 0 auto;
}

.container-layout-components {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 15px;
}

.wrap-layout-components {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  width: 40rem;
}

@media screen and (max-width: 500px) {
  .wrap-layout-components {
    padding: 3rem 1rem;
  }
}
