.form-action-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.form-action-buttons button {
  text-align: center;
  width: 16rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #ededed;
  text-decoration: none;
  border-radius: 5px;
}

.form-action-buttons .cancel {
  background-color: #d71e1e;
}

.form-action-buttons .continue {
  background-color: #0ec70e;
}
