.input-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-field .input {
  /* flex: 1; */
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid #222222;
  font-size: 1rem;
}

.input-field .helper-text {
  font-size: 0.75rem;
  color: #ea1d1d;
}

@media screen and (max-width: 760px) {
  .delivery .delivery-form-section .field {
    width: 100%;
  }
}
