.delivery {
  padding: 2rem;
}

.delivery .delivery-form-section {
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 4rem;
}

.delivery .delivery-form-section .title {
  margin-bottom: 2rem;
}

.delivery .delivery-form-section .input-group {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1020px) {
  .delivery .delivery-form-section {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  wwwx .delivery .delivery-form-section .input-group {
    flex-direction: column;
  }

  .delivery .delivery-form-section .buttons button,
  .delivery .delivery-form-section .buttons a {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .delivery .title {
    margin-top: 2rem;
  }

  .delivery .delivery-form-section {
    padding: 0;
  }

  .delivery .delivery-form-section .buttons {
    flex-direction: column;
    gap: 1.5rem;
  }
}
